.cardNFT {
   margin: 10px 10px 10px 10px;
}

.panelNFT {   
    min-width: 300px;
    min-height: 300px;
    position: relative;
    margin: 0px 0px 0px 0px;
}

.part {
    position: absolute;    
    width: 100%;
    height: 100%;
}